{% extends 'base.html.twig' %}
{% block title %} Post - {{ post.title }} {% endblock %}

{% block bread %} > Post {% endblock %}

{% block body %}
    <div class="flex items-center mb-4">
        <div>{{ include('shared/_avatar.html.twig', { profile: post.author.userProfile, size: 16 }) }}</div>
        <div class="ml-4">
            <div class="text-xl">{{ post.author.userProfile.name ?? post.author.email }}</div>
            <div class="text-sm text-gray-500 dark:text-gray-400"><a href="{{ path('app_profile', { id: post.author.id }) }}">{{ post.author.email }}</a></div>
        </div>
    </div>

    {{ include('post/_post.html.twig', {post: post, summary: false}) }}

    {% if comments|length > 0%}
        {% for key,comment in comments %}
            {{ include('post/_comment.html.twig', {comment: comment}) }}
        {% endfor %}
    {% else %}
        <div class="text-gray-500">No comments</div>
    {% endif %}

{% endblock %}